.landing-page{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(../images/silhouette-of-tree-under-cumulus-clouds-861311.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.calculator>h1{
    font-size: 30px !important;
    margin-bottom: 50px;
    
}
button{
    border-radius: 10px;
    border: none;
}
#submit{
    padding: 5px;
}
button:hover{
    background-color: blue;
}
#submit:hover{
    color: white;
}
.akan{
    padding: 50px;

}
#img2{ 
    height: 400px;
    width: 500px;
}
#details{
    padding: 50px;
}
/* .img-fluid{
    height: 400px;
    width: 600px;
}

#images{
    display: flex;
} */
 .footer{
    border-top:  1px solid black;
}


#contacts{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#social{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    padding: 35px;
}
#face{
    color: blue;
}
#face:hover{
    cursor: pointer;
    
}
#link{
    color: #0e76a8;
}
#insta{
    color: #E1306C;
}
#insta:hover{
    cursor: pointer;
}
#twit{
    color: cadetblue;
}
#twit:hover{
    cursor: pointer;
}
#interest{
    color: #BD081C;
}
#interest:hover{
    cursor: pointer;
}

@media only screen and(max-width:600px){
    #img2{
        width: 100%;
        height: auto;
    }
}
